{% extends "base/pamjs_base.html" %}
{% load staticfiles %}

{% block script %}
    <script>
        var res = [
            {"image": "{% static 'pamjs/images/xjqxz5.jpg' %}", "info": "仙剑奇侠传 五", "link": "http://pal5.baiyou100.com/1701000.asp"},
            {"image": "{% static 'pamjs/images/yz.jpg' %}", "info": "乌尤尼盐湖", "link": "http://baike.baidu.com/view/185098.htm"},
        ]
        _bg(0, res, 10000);
        // _bg(1, 1, 10000);

        // var res = [ "movies/movie" ];
        // _movie(0, res);

        var res = [
            "{% static 'pamjs/musics/qg' %}",
            "{% static 'pamjs/musics/snq' %}"
        ];
        _audio(0, res);
    </script>
{% endblock %}